%ul.main_menu
  %li.home{:class => tab_class(:root)}
    = link_to "Home", gitlab_engine.root_path, :title => "Home"

  %li{:class => tab_class(:dash_issues)}
    = link_to gitlab_engine.dashboard_issues_path do
      Issues
      %span.count= current_user.assigned_issues.opened.count

  %li{:class => tab_class(:dash_mr)}
    = link_to gitlab_engine.dashboard_merge_requests_path do
      Merge Requests
      %span.count= current_user.cared_merge_requests.count

  %li{:class => tab_class(:search)}
    = link_to "Search", gitlab_engine.search_path

  %li{:class => tab_class(:help)}
    = link_to "Help", gitlab_engine.help_path
