%head
  %meta{:charset => "utf-8"}
  %title
    GitLab
    = " > #{@project.name}" if @project && !@project.new_record?
  = favicon_link_tag 'gitlab_engine/favicon.ico'
  = stylesheet_link_tag    "gitlab_engine/application"
  = javascript_include_tag "gitlab_engine/application"

  = csrf_meta_tags
