!!! 5
%html{ :lang => "en"}
  = render "layouts/gitlab_engine/head"
  %body{:class => "#{app_theme} application"}
    = render "layouts/gitlab_engine/flash"
    = render "layouts/gitlab_engine/head_panel", :title => ""
    .container
      .content
        %br
        %h3= yield
