!!! 5
%html{ :lang => "en"}
  = render "layouts/gitlab_engine/head"
  %body{:class => "#{app_theme} profile"}
    = render "layouts/gitlab_engine/flash"
    = render "layouts/gitlab_engine/head_panel", :title => "Profile"
    .container
      %nav.main_menu
        = link_to "Profile", gitlab_engine.profile_path, :class => "home #{current_page?(:controller => "profile", :action => :show) ? "current" : nil}"
        = link_to "Password", gitlab_engine.profile_password_path,  :class => current_page?(:controller => "profile", :action => :password) ? "current" : nil
        = link_to "Token", gitlab_engine.profile_token_path,  :class => current_page?(:controller => "profile", :action => :token) ? "current" : nil
        = link_to "Design", gitlab_engine.profile_design_path, :class => current_page?(:controller => "profile", :action => :design) ? "current" : nil
        = link_to gitlab_engine.keys_path,  :class => controller.controller_name == "keys" ? "current" : nil do
          SSH Keys
      .content
        = yield
