!!! 5
%html{ :lang => "en"}
  = render "layouts/gitlab_engine/head"
  %body{:class => "#{app_theme} project"}
    = render "layouts/gitlab_engine/flash"
    = render "layouts/gitlab_engine/head_panel", :title => @project.name
    .container
      = render :partial => "layouts/gitlab_engine/project_menu"
      .content
        = yield

