%ul.nav.nav-tabs
  %li
    = form_tag gitlab_engine.switch_project_refs_path(@project), :method => :get, :class => "project-refs-form" do
      = select_tag "ref", grouped_options_refs, :onchange => "$(this.form).trigger('submit');", :class => "project-refs-select"
      = hidden_field_tag :destination, "commits"

  %li{:class => "#{'active' if current_page?(gitlab_engine.project_commits_path(@project)) }"}
    = link_to gitlab_engine.project_commits_path(@project) do
      Commits
  %li{:class => "#{'active' if current_page?(gitlab_engine.compare_project_commits_path(@project)) }"}
    = link_to gitlab_engine.compare_project_commits_path(@project) do
      Compare
  %li{:class => "#{branches_tab_class}"}
    = link_to gitlab_engine.project_repository_path(@project) do
      Branches
      %span.badge= @project.repo.branch_count

  %li{:class => "#{'active' if current_page?(gitlab_engine.tags_project_repository_path(@project)) }"}
    = link_to gitlab_engine.tags_project_repository_path(@project) do
      Tags
      %span.badge= @project.repo.tag_count


  - if current_page?(gitlab_engine.project_commits_path(@project)) && current_user.private_token
    %li.right
      %span.rss-icon
        = link_to gitlab_engine.project_commits_path(@project, :atom, { :private_token => current_user.private_token, :ref => @ref }), :title  => "Feed" do
          = image_tag asset_path("gitlab_engine/rss_ui.png"), :title => "feed"

:javascript
  $(function(){
    $('.project-refs-select').chosen();
  });
